body {
  font-family: arial;
  color: white;
  margin: auto;
}
a.navbar {
  color: white;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
}
.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.A {
  height: 100vh;
  background-image: url('../images/Background.png');
  background-size: cover;
}
.B {
  height: 50vh;
}
.top-space {
  height: 50px;
}
.spacer {
  width: 13%;
}
.logo {
  font-size: 32px;
}
nav {
  height: 1vh;
  background: none;
}
.main-line {
  width: 80%;
  height: 1px;
  background: white;
  position: center;
  margin: auto;
  margin-bottom: 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 70%;
  height: 100%;
  background: none;
  justify-content: space-around;
  align-items: center;
  position: center;
  margin: auto;
}
a.MainText {
  font-size: 50px;
  font-weight: 100;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  .line {
    width: 20px;
    height: 1px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  a.navbar {
    color: black;
  }
  .logo {
    color: black;
  }
  a.MainText {
    font-size: 30px;
  }
  .hamburger {
    position: center;
    cursor: pointer;
    transform: translate(85%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: polygon(0% 0%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%);
  }
  .nav-links.open {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
