body {
  font-family: "Arial Rounded MT Bold";
  color: white;
  margin: auto;
  overflow-x: hidden;
}
.signature {
  position:fixed;
  top: 10px;
  left: 40px;
  z-index: +2;
}
.topNavFrame {
  width: 100%;
  height: 77px;
  border: none;
  margin: 0px;
  position: fixed;
  overflow-x: hidden;
  z-index: +2;
}
.navBackground {
  position:fixed;
  height: 77px;
  width: 100%;
  background: none;
  z-index: +1;
  transition: 0.2s;
}
.navLinks {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navItem {
  text-decoration:none;
  color: white;
  align-items: center;
  margin:0 0;
  padding: 30 0;
  transition: 0.2s;
}
.navItem:hover {
  transition: 0.3s;
  background-color: #E82C00;
}
a.navItem {
  padding: 30 50;
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.landingPage-0 {
  background: #050523 url('../images/Dotted_Background.png');
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  z-index: 0;
}
.landingPage-0-Content {
  text-decoration: none;
  position: absolute;
  float: left;
  top:30%;
  left: 6%;
  transition: 0.2s;
  z-index: 0;
}
.name-header {
  font-size: 70px;
}
.description-header {
  font-size: 20px;
}
.buttons-header {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons-item {
  margin: auto auto auto 0;
  align-items: center;
  transition: 0.2s;
}
.buttons-item:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.resumeButton {
  font-size: 17px;
  text-align: center;
  line-height: 50px;
  background-color: #E82C00;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
.contentPage-top {
  background: #050523 url('../images/Dotted_Background.png');
  background-size: cover;
  height: 200px;
}
.contentPage-header {
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 850px) and (-webkit-min-device-pixel-ratio: 2){
  .signature {
    transform: scale(0.70);
    left: 30px;
  }
  .topNavFrame {
    height: 100%;
  }
  .line {
    width: 20px;
    height: 1px;
    background: white;
    margin: 5px;
  }
  .line.open {
    color: black;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 100px;
    top: 26px;
    z-index: 2;
  }
  .navLinks {
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    clip-path: polygon(0% 0%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%);
  }
  .navLinks.open {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  .navItem {
    align-items: center;
    padding: auto auto;
  }
  a.navItem {
    color: black;
    padding: 30 50%;
  }
  .landingPage-0-Content {
    transition: 0.2s;
    transform: scale(0.70);
  }
  @media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2){
    .landingPage-0-Content {
      transition: 0.2s;
      left: -50px;
      transform: scale(0.50);
    }
    .hamburger {
      right: 30px;
    }
  }
}
