body {
    font-family: Avenir;
}
.home-main {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-main-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.4);
}
.home-main-text {
    position: absolute;
    width: 100%;
    top: 40%;
    align-items: center;
    color: white;
    z-index: 100;
}
.image-location-text {
    line-height: 0;
    opacity: 0.4;
}
.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.social-link {
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    filter: brightness(0%) opacity(0.5);
    -webkit-filter: brightness(0%) opacity(0.5);
    background-attachment: fixed;
    background:inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.social-link-a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.footer-text {
    font-size: 15px;
}
.contact-popup {
    height: 80vh;
    width: 70%;
    z-index: 300;
    justify-content: center;
    position: fixed;
    border-radius: 10px;
    box-shadow: 10px 10px 80px rgba(0,0,0,0.2);
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: white;
    display: none;
}